---
layout: page
title: Projects
---
<section class="list">
    <table>
        {% for post in site.posts %}
            {% if post.category == "projects" %}
                {% if post.externalLink %}
                    {% assign projectUrl = post.externalLink %}
                {% else %}
                    {% assign projectUrl = site.url | append:post.url %}
                {% endif %}
                <tr>
                    <td>
                        <div class="item {% if post.star %}star{% endif %}"  align="top">
                            <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                                <h3 class="title">{{ post.title }}</h3>
                            </a>
                            {{ post.summary }}
                        </div>
                    </td>
                    <td width="64px">
                        {% if post.logo %}
                            <a class="link" href="{{ projectUrl }}">
                                <img src="{{ post.logo }}" alt="{{ post.title }} logo"/>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</section>
