<footer class="footer-main">
    {{ site.name }} © {{ site.time | date: '%Y' }} <a class="link" href="{{ site.url }}/feed.xml" target="_blank"><svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg></a>

    <p class="extra">
        Зарегистрированный товарный знак Jenkins® используется в соответствии с сублицензией от <a class="link" href="https://www.spi-inc.org/">Software in the Public Interest</a>,
        владельцем торговой марки во всем мире.
        Сайт основан на <a class="link" href="https://github.com/sergiokopplin/indigo">теме Indigo</a>, созданной <a class="link" href="https://github.com/sergiokopplin/indigo">Sergio Kopplin</a>
    </p>
</footer>
