<nav class="{% if page.title == "Домой" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        {% if page.title != "Домой" %}
            {% include navlink.html url="" title="Домой" show=true %}
        {% endif %}
        {% include navlink.html url="meetups" title="Митапы" show=site.projects %}
        {% include navlink.html url="about" title="О сообществе" show=site.about %}

        {% if site.resume == true %}
            <li class="item">
                <a class="link" href="{% if site.resume-external %}{{ site.resume-url }}{% else %}{{ site.url }}/{{ site.resume-url }}{% endif %}">Résumé</a>
            </li>
        {% endif %}
    </ul>
</nav>
