<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        {% if page.title != "Home" %}
            {% include navlink.html url="" title="Home" show=true %}
        {% endif %}
        {% include navlink.html url="blog" title="Blog" show=site.blog %}
        {% include navlink.html url="projects" title="Projects" show=site.projects %}
        {% include navlink.html url="talks" title="Talks" show=site.talks %}
        {% include navlink.html url="about" title="About" show=site.about %}

        {% if site.resume == true %}
            <li class="item">
                <a class="link" href="{% if site.resume-external %}{{ site.resume-url }}{% else %}{{ site.url }}/{{ site.resume-url }}{% endif %}">Résumé</a>
            </li>
        {% endif %}
    </ul>
</nav>
