<div class="social-links">

    {% if include.data.meetup %}
    <a class="link" data-title="{{ include.data.city }}" href="http://meetup.com/{{ include.data.meetup }}" target="_blank">
        <svg class="icon icon-meetup"><use xlink:href="#icon-meetup"></use></svg>
    </a>
    {% endif %}

    {% if include.data.facebook %}
        <a class="link" data-title="facebook.com/{{ include.data.facebook }}" href="http://facebook.com/{{ include.data.facebook }}" target="_blank">
            <svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
        </a>
    {% endif %}

    {% if include.data.twitter %}
        <a class="link" data-title="twitter.com/{{ include.data.twitter }}" href="http://twitter.com/{{ include.data.twitter }}" target="_blank">
            <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
        </a>
    {% endif %}

    {% if include.data.google %}
        <a class="link" data-title="plus.google.com/+{{ include.data.google }}" href="http://plus.google.com/+{{ include.data.google }}" target="_blank">
            <svg class="icon icon-google"><use xlink:href="#icon-google"></use></svg>
        </a>
    {% endif %}

    {% if include.data.instagram %}
        <a class="link" data-title="instagram.com/{{ include.data.instagram }}" href="http://instagram.com/{{ include.data.instagram }}" target="_blank">
            <svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg>
        </a>
    {% endif %}

    {% if include.data.pinterest %}
        <a class="link" data-title="pinterest.com/{{ include.data.pinterest }}" href="http://pinterest.com/{{ include.data.pinterest }}" target="_blank">
            <svg class="icon icon-pinterest"><use xlink:href="#icon-pinterest"></use></svg>
        </a>
    {% endif %}

    {% if include.data.linkedin %}
        <a class="link" data-title="linkedin.com/in/{{ include.data.linkedin }}" href="http://linkedin.com/in/{{ include.data.linkedin }}" target="_blank">
            <svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg>
        </a>
    {% endif %}

    {% if include.data.youtube %}
        <a class="link" data-title="youtube.com/{{ include.data.youtube }}" href="http://youtube.com/{{ include.data.youtube }}" target="_blank">
            <svg class="icon icon-youtube"><use xlink:href="#icon-youtube"></use></svg>
        </a>
    {% endif %}

    {% if include.data.spotify %}
        <a class="link" data-title="open.spotify.com/user/{{ include.data.spotify }}" href="https://open.spotify.com/user/{{ include.data.spotify }}" target="_blank">
            <svg class="icon icon-spotify"><use xlink:href="#icon-spotify"></use></svg>
        </a>
    {% endif %}

    {% if include.data.lastfm %}
        <a class="link" data-title="last.fm/user/{{ include.data.lastfm }}" href="https://last.fm/user/{{ include.data.lastfm }}" target="_blank">
            <svg class="icon icon-lastfm"><use xlink:href="#icon-lastfm"></use></svg>   
        </a>
    {% endif %}

    {% if include.data.github %}
        <a class="link" data-title="github.com/{{ include.data.github }}" href="https://github.com/{{ include.data.github }}" target="_blank">
            <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg>
        </a>
    {% endif %}
    
    {% if include.data.stackoverflow %}
        <a class="link" data-title="stackoverflow.com/users/{{ include.data.stackoverflow }}" href="http://stackoverflow.com/users/{{ include.data.stackoverflow }}" target="_blank">
            <svg class="icon icon-stackoverflow"><use xlink:href="#icon-stackoverflow"></use></svg>
        </a>
    {% endif %}

    {% if include.data.quora %}
        <a class="link" data-title="quora.com/profile/{{ include.data.quora }}" href="https://www.quora.com/profile/{{ include.data.quora }}" target="_blank">
            <svg class="icon icon-quora"><use xlink:href="#icon-quora"></use></svg>
        </a>
    {% endif %}

    {% if include.data.reddit %}
        <a class="link" data-title="reddit.com/user/{{ include.data.reddit }}" href="https://www.reddit.com/user/{{ include.data.reddit }}" target="_blank">
            <svg class="icon icon-reddit"><use xlink:href="#icon-reddit"></use></svg>
        </a>
    {% endif %}

    {% if include.data.medium %}
        <a class="link" data-title="medium.com/@{{ include.data.medium }}" href="https://medium.com/@{{ include.data.medium }}" target="_blank">
            <svg class="icon icon-medium"><use xlink:href="#icon-medium"></use></svg>
        </a>
    {% endif %}

    {% if include.data.vimeo %}
        <a class="link" data-title="vimeo.com/{{ include.data.vimeo }}" href="https://vimeo.com/{{ include.data.vimeo }}" target="_blank">
            <svg class="icon icon-vimeo"><use xlink:href="#icon-vimeo"></use></svg>
        </a>
    {% endif %}

    {% if include.data.lanyrd %}
        <a class="link" data-title="lanyrd.com/{{ include.data.lanyrd }}" href="https://lanyrd.com/{{ include.data.lanyrd }}" target="_blank">
            <svg class="icon icon-microphone"><use xlink:href="#icon-microphone"></use></svg>
        </a>
    {% endif %}

    {% if include.data.email %}
        <a class="link" data-title="{{ include.data.email }}" href="mailto:{{ include.data.email }}">
            <svg class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg>
        </a>
    {% endif %}

    {% if include.data.gitter %}
    <a class="link" data-title="{{ include.data.gitter }}" href="https://gitter.im/{{ include.data.gitter }}" target="_blank">
        <svg class="icon icon-gitter"><use xlink:href="#icon-gitter"></use></svg>
    </a>
    {% endif %}

    {% if include.data.telegram %}
    <a class="link" data-title="telegram/{{ include.data.telegram }}" href="https://t.me/joinchat/{{ include.data.telegram }}" target="_blank">
        <svg class="icon icon-telegram"><use xlink:href="#icon-telegram"></use></svg>
    </a>
    {% endif %}
</div>
