---
layout: page
---

{% if page.image and page.headerImage %}
    <img class="title-image" src="{{ page.image }}" alt="{{ page.title }}">
{% endif %}

<span class="date">
    Представлен на:
    <time datetime="{{ page.date | date:"%d-%m-%Y" }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% if page.lastPresented and page.lastPresented.title %}
        at
        {% if page.lastPresented.url %}
            <a class="item" href="{{ page.lastPresented.url }}">{{ page.lastPresented.title }}</a>
        {% else %}
            {{ page.lastPresented.title }}
        {% endif %}
    {% endif %}
</span>

{% if site.show-tags %}
    <div class="post-tags">
        {% for tag in page.tags %}
            <a class="item" href="{{ site.url }}/tags/#{{ tag | slugify }}">{{ tag }}</a>
        {% endfor %}
    </div>
{% endif %}

{{content}}

{% include links.html %}

{% if page.slides %}
<h4>Слайды</h4>
<div>
    {% if page.slides.speakerdeck %}
        <script async class="speakerdeck-embed" data-id="{{ page.slides.speakerdeck }}" data-ratio="1.77777777777778" src="//speakerdeck.com/assets/embed.js"></script>
    {% endif %}
    {% if page.slides.slideshare %}
        <iframe src="//www.slideshare.net/slideshow/embed_code/key/{{ page.slideshareId }}" width="{{ site.widthPx }}" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen>
        </iframe>
        <div style="margin-bottom:5px">
            <strong>
                <a href="//www.slideshare.net/{{ page.slides.slideshare }}"
                   title="{{ page.title }}" target="_blank">{{ page.title }}</a>
    {% endif %}
    {% if page.slides.externalLink %}
        <a class="item" href="{{ page.slides.externalLink }}">External source</a>
    {% endif %}
</div>
{% endif %}

{% if page.video %}
<h4>Видео</h4>
    {% if page.video.youtube %}
        <iframe width="{{ site.widthPx }}" height="580" src="https://www.youtube.com/embed/{{ page.video.youtube }}" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    {% endif %}
{% endif %}

{% if site.post-advance-links contains page.category %}
    <div class="blog-navigation">
        {% if page.previous.url %}
            <a class="prev" href="{{ site.url }}{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
        {% else %}
            <a class="prev"></a>
        {% endif %}
        {% if page.next.url %}
            <a class="next" href="{{ site.url }}{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
        {% endif %}
    </div>
{% endif %}

{% if site.related %}
    {% include related.html %}
{% endif %}

{% if site.show-author %}
    {% include author.html %}
{% endif %}

{% if site.disqus.categories contains page.category %}
    {% include disqus.html %}
{% endif %}
